<h1 class="alert alert-danger">HOLA CURSO {{nombreCurso}}</h1>
<section class="container">
  <aside class="row">
    <h1 class="alert alert-danger">Esto es un DATA BINDING tipo <strong>EVENT BINDING</strong> - contador</h1>
    <p>Numero = {{ num }}</p>
    <div class="container">
      <button class="btn btn-sm btn-outline-success" [(ngModel)]="sumarUno()">+1</button>
      <button class="btn btn-sm btn-outline-danger" [(ngModel)]="restarUno()">-1</button>
    </div>
  </aside>
  <br><br><br>
  <aside class="row">
    <h1 class="alert alert-success">Esto es un DATA BINDING tipo <strong>INTERPOLACION</strong> de función (suma)</h1>
      <p>El resultado de 4 + 12 es = {{ getSuma(4,12) }}</p>
  </aside>
  <br>  <br>  <br>
  <aside class="row">
    <h1 class="alert alert-primary">Esto es un DATA BINDING tipo <strong>PROPERTY BINDING</strong></h1>
    <input type="text" name="propertybinding" id="" [placeholder]="txtPH" [disabled]="deshab">
    <img [src]="imgSrc" alt="imgPB" [class]="display" width="400px" height="400px">
  </aside>
</section>
<router-outlet></router-outlet>
